@charset "UTF-8";
img {
  border: solid 2px red; }

/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings,
helpers or functions. They have no direct output.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

::-webkit-search-decoration {
  display: none; }

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

textarea {
  vertical-align: top;
  overflow: auto; }

select[multiple] {
  vertical-align: top; }

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: none !important; }

hr {
  margin: 1.5rem 0; }
  @media screen and (min-width: 550px) {
    hr {
      margin: 2rem 0; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in
the project.
*/
body {
  color: #23050B;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px; } }
  @media screen and (min-width: 960px) {
    body {
      font-size: 20px; } }

a {
  color: #508894; }
  a:hover, a:focus {
    text-decoration: none; }

p {
  margin-bottom: 1rem; }

.uppercase {
  text-transform: uppercase; }

em,
i {
  font-style: italic; }

strong {
  font-weight: 900; }

small,
table {
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: .2pt;
  color: #508894; }

h1,
h2 {
  line-height: 1.1; }

h3,
h4 {
  line-height: 1.3;
  text-transform: uppercase; }

h1 {
  font-size: 300%;
  font-weight: 400;
  margin: 3rem 0 2.5rem; }
  @media screen and (min-width: 768px) {
    h1 {
      margin: 2rem 0; } }
  h1.page-title {
    font-size: 340%;
    font-weight: 100; }

h2 {
  font-size: 260%;
  font-weight: 400;
  margin: 2rem 0 1.5rem; }

h3 {
  font-size: 200%;
  margin: 1rem 0; }

h4 {
  font-size: 170%;
  margin: 1rem 0; }

h5 {
  font-size: 120%;
  margin: 1rem 0;
  letter-spacing: 1pt; }

h6 {
  font-size: 110%;
  margin: .5rem 0;
  letter-spacing: .8pt; }

form ol,
form ul {
  padding-left: 0;
  list-style: none; }

fieldset {
  display: block;
  border: 0;
  padding: 0;
  margin: 0 0 1.4rem;
  width: 100%;
  max-width: 10rem; }

legend {
  margin-bottom: 1em; }

/*
   Input and buttons
   ========================================================================== */
button,
input[type="submit"] {
  font-size: 1rem;
  line-height: 1.5; }

textarea,
select,
input[type='url'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input[type='number'],
input[type='text'] {
  display: block;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  border: solid 1px #978B8E; }
  @media screen and (min-width: 768px) {
    textarea,
    select,
    input[type='url'],
    input[type='email'],
    input[type='password'],
    input[type='search'],
    input[type='date'],
    input[type='month'],
    input[type='week'],
    input[type='datetime'],
    input[type='datetime-local'],
    input[type='number'],
    input[type='text'] {
      min-width: 20rem; } }
  .is-wrong textarea, .is-wrong
  select, .is-wrong
  input[type='url'], .is-wrong
  input[type='email'], .is-wrong
  input[type='password'], .is-wrong
  input[type='search'], .is-wrong
  input[type='date'], .is-wrong
  input[type='month'], .is-wrong
  input[type='week'], .is-wrong
  input[type='datetime'], .is-wrong
  input[type='datetime-local'], .is-wrong
  input[type='number'], .is-wrong
  input[type='text'] {
    border-color: red; }
  .is-valid textarea, .is-valid
  select, .is-valid
  input[type='url'], .is-valid
  input[type='email'], .is-valid
  input[type='password'], .is-valid
  input[type='search'], .is-valid
  input[type='date'], .is-valid
  input[type='month'], .is-valid
  input[type='week'], .is-valid
  input[type='datetime'], .is-valid
  input[type='datetime-local'], .is-valid
  input[type='number'], .is-valid
  input[type='text'] {
    border-color: green; }

select {
  min-width: 150px;
  text-overflow: ""; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  line-height: 1.5rem;
  margin-right: .5rem;
  margin-top: -4px;
  vertical-align: middle; }

/*
   Labels and containers
   ========================================================================== */
label {
  display: inline-block;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 0.4rem;
  min-width: 6rem; }

.field-container {
  margin-bottom: 2rem; }

.field-note {
  color: #D8D5D6;
  display: block;
  margin-top: 0.4rem; }
  .is-wrong .field-note {
    color: red; }

.table-wrapper {
  width: 100%;
  overflow: auto;
  border: 1px solid #508894; }

table {
  min-width: 300px;
  width: 100%; }
  table th,
  table td {
    text-align: right;
    padding: .375rem .1875rem; }
    table th:first-child,
    table td:first-child {
      padding-left: .25rem; }
    table th:last-child,
    table td:last-child {
      padding-right: .25rem; }
    @media screen and (min-width: 550px) {
      table th,
      table td {
        padding: .5rem .25rem; }
        table th:first-child,
        table td:first-child {
          padding-left: .35rem; }
        table th:last-child,
        table td:last-child {
          padding-right: .35rem; } }
    @media screen and (min-width: 768px) {
      table th,
      table td {
        padding: .65rem .35rem; }
        table th:first-child,
        table td:first-child {
          padding-left: .55rem; }
        table th:last-child,
        table td:last-child {
          padding-right: .55rem; } }
    table th.non-numeric-value,
    table td.non-numeric-value {
      text-align: left; }

thead {
  border-bottom: 2px solid #604B50; }
  thead th {
    color: #508894;
    letter-spacing: .4pt;
    text-align: center;
    text-transform: uppercase; }

tbody tr:nth-of-type(odd) {
  background-color: #efefef; }

tfoot {
  border-top: 2px solid #604B50; }
  tfoot th,
  tfoot td {
    color: #508894;
    letter-spacing: .4pt; }

figure {
  display: inline-block;
  margin: 1rem 0; }
  figure img {
    display: block; }
  @media screen and (min-width: 320px) {
    figure {
      margin: 2rem 0; } }

.figure-zoom > figure {
  position: relative; }
  .figure-zoom > figure:hover:before, .figure-zoom > figure:focus:before {
    content: "Espandi";
    position: absolute;
    top: .5rem;
    left: .5rem; }

.no-emoji .figure-zoom > figure:hover:before,
.no-emoji .figure-zoom > figure:focus:before,
.no-js .figure-zoom > figure:hover:before,
.no-js .figure-zoom > figure:focus:before {
  content: "Zoom";
  font-size: 0.8rem;
  padding: 0.3rem;
  background-color: #efefef; }

.emoji .figure-zoom > figure:hover:before,
.emoji .figure-zoom > figure:focus:before {
  font-size: 2rem;
  content: "🔍"; }

figcaption {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: #978B8E; }
  figcaption:before {
    margin-right: 0.4rem;
    content: "[nella foto]"; }
  .emoji figcaption:before {
    content: "📷"; }

ul,
ol {
  padding-left: 1rem; }

li {
  margin-bottom: .5rem; }

.list-feed {
  list-style: none;
  padding-left: 0; }
  .list-feed li {
    border-bottom: solid 1px #978B8E;
    margin-bottom: 0; }

.list-feed a {
  display: block;
  padding: 0.5rem;
  text-decoration: none; }
  .list-feed a:hover, .list-feed a:focus {
    background-color: #D8D5D6; }

.list-tags {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1.5rem; }
  .list-tags li {
    display: inline-block;
    margin-right: 5px; }

button,
input[type="submit"], .list-tags a,
.btn {
  background-color: #508894;
  border-radius: 4px;
  border: solid 2px #508894;
  color: white;
  display: inline-block;
  padding: .7rem 1.2rem;
  text-decoration: none;
  white-space: nowrap; }
  button:hover,
  input[type="submit"]:hover, .list-tags a:hover, button:focus,
  input[type="submit"]:focus, .list-tags a:focus,
  .btn:hover,
  .btn:focus {
    background-color: #355a62;
    border-color: #355a62;
    text-decoration: none; }
  button:active,
  input[type="submit"]:active, .list-tags a:active,
  .btn:active {
    background-color: #5997a5;
    border-color: #5997a5; }
  button.disabled,
  input.disabled[type="submit"], .list-tags a.disabled,
  .btn.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5; }

.btn--outline {
  background-color: white;
  color: #508894; }
  .btn--outline:hover,
  .btn--outline:focus {
    background-color: white;
    border-color: #978B8E;
    color: #D8D5D6; }
  .btn--outline:active {
    background-color: white;
    border-color: #604B50;
    color: #604B50; }

.btn--big {
  padding: 1rem 1.5rem .8rem;
  font-size: 1.2rem; }

.btn--small {
  padding: .3rem .6rem .2rem;
  font-size: .8rem;
  line-height: 1.2rem; }

.btn--gray {
  background-color: #D8D5D6;
  border-color: #978B8E;
  color: #978B8E; }
  .btn--gray:hover,
  .btn--gray:focus {
    color: white; }

.no-flex .grid-3,
.no-flex .grid-4,
.no-js .grid-3,
.no-js .grid-4 {
  width: 100%;
  overflow: hidden; }
.no-flex .col,
.no-js .col {
  padding: .5rem;
  width: 50%;
  float: left; }
.no-flex .no-gutter > .col,
.no-js .no-gutter > .col {
  padding: 0; }
.no-flex .grid-3 > .col,
.no-js .grid-3 > .col {
  width: 50%; }
  @media screen and (min-width: 550px) {
    .no-flex .grid-3 > .col,
    .no-js .grid-3 > .col {
      width: 33.33%; }
      .no-flex .grid-3 > .col.colspan-2,
      .no-js .grid-3 > .col.colspan-2 {
        width: 66.66%; } }
.no-flex .grid-4 > .col,
.no-js .grid-4 > .col {
  width: 50%; }
  @media screen and (min-width: 550px) {
    .no-flex .grid-4 > .col,
    .no-js .grid-4 > .col {
      width: 25%; }
      .no-flex .grid-4 > .col.colspan-2,
      .no-js .grid-4 > .col.colspan-2 {
        width: 50%; } }

.flexbox .grid-3,
.flexbox .grid-4 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: -webkit-flex-start;
  align-items: flex-start; }
.flexbox .col {
  padding: .5rem;
  -webkit-flex: 1;
  flex: 1; }
.flexbox .no-gutter > .col {
  padding: 0; }
.flexbox .grid-3 > .col {
  -webkit-flex: 50%;
  flex: 50%;
  -webkit-flex-grow: 1;
  flex-grow: 1; }
  @media screen and (min-width: 550px) {
    .flexbox .grid-3 > .col {
      -webkit-flex: 33.33%;
      flex: 33.33%; }
      .flexbox .grid-3 > .col.colspan-2 {
        -webkit-flex: 66.66%;
        flex: 66.66%; } }
.flexbox .grid-4 > .col {
  -webkit-flex: 50%;
  flex: 50%;
  -webkit-flex-grow: 1;
  flex-grow: 1; }
  @media screen and (min-width: 550px) {
    .flexbox .grid-4 > .col {
      -webkit-flex: 25%;
      flex: 25%;
      -webkit-max-width: 25%;
      max-width: 25%; }
      .flexbox .grid-4 > .col.colspan-2 {
        -webkit-flex: 50%;
        flex: 50%; } }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*
This file is used to contain all component imports.
Files inside this folder should contain all styles relating
to a reusable component.
*/
.l-wrapper {
  width: 95%;
  margin: 0 auto; }
  @media screen and (min-width: 550px) {
    .l-wrapper {
      width: 90%;
      max-width: 48rem; } }

.header__info {
  text-align: center;
  border-bottom: solid 1px #508894;
  font-size: 14px;
  padding: 0.46875rem 0;
  width: 100%;
  background-color: #508894;
  color: white; }

.header {
  border-bottom: solid 1px #abcbd2;
  padding: 1.875rem 0; }
  @media screen and (min-width: 550px) {
    .header > div {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      align-items: -webkit-flex-end;
      align-items: flex-end; } }

.header__logo {
  display: block;
  max-width: 95%; }
  @media screen and (min-width: 550px) {
    .header__logo {
      -webkit-flex: 35%;
      flex: 35%; } }
  .header__logo img {
    display: block; }

.header__nav {
  margin-top: 1.875rem; }
  @media screen and (min-width: 550px) {
    .header__nav {
      -webkit-flex: 65%;
      flex: 65%;
      padding-left: 1rem; } }

.footer {
  border-top: solid 1px #508894;
  padding: 2.8125rem 0;
  background-color: #508894; }
  .footer a {
    color: #efefef; }

@media screen and (min-width: 550px) {
  .nav.header__nav {
    text-align: right; } }

.nav__pages {
  list-style: none;
  margin: 0; }
  @media screen and (min-width: 550px) {
    .nav__pages li {
      font-size: 14px;
      display: inline-block;
      margin-right: .5rem;
      margin-bottom: 0; } }
  @media screen and (min-width: 768px) {
    .nav__pages li {
      font-size: 16px; } }
  @media screen and (min-width: 550px) {
    .footer .nav__pages.nav__pages--primary {
      padding-right: 30%; } }
  .footer .nav__pages.nav__pages--secondary {
    margin: 1.875rem 0 0;
    text-align: right; }
    @media screen and (min-width: 550px) {
      .footer .nav__pages.nav__pages--secondary {
        padding-left: 60%; } }

@media screen and (min-width: 550px) {
  .welcome {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: -webkit-flex-start;
    align-items: flex-start; } }

.welcome__title {
  font-size: 150%;
  text-transform: none;
  font-weight: 900; }

@media screen and (min-width: 550px) {
  .welcome__abstract {
    -webkit-flex: 1 60%;
    flex: 1 60%; } }

.welcome__mainimg {
  margin: 1.875rem 0; }
  @media screen and (min-width: 550px) {
    .welcome__mainimg {
      -webkit-flex: 2 40%;
      flex: 2 40%;
      margin-top: 0;
      padding-left: 1rem; } }

.main {
  position: relative;
  padding-bottom: 2rem; }

.main__title {
  color: #508894; }
  .main__subtitle + .main__title {
    margin-top: 1rem; }

.main__subtitle {
  background-color: #abcbd2;
  color: white;
  padding: .5rem;
  margin-top: 2rem; }

.main__index {
  margin-bottom: 1.875rem;
  margin-top: 1.875rem; }

.main-thumb {
  margin-bottom: 10px; }
  @media screen and (min-width: 550px) {
    .main-thumb {
      float: right;
      max-width: 50%;
      margin-left: 10px; } }

.gallery {
  max-width: 250px;
  width: 100%;
  display: block;
  overflow: hidden;
  opacity: .95; }
  .gallery:hover, .gallery:focus {
    opacity: 1; }

.gallery > .gallery__thumb {
  margin: 5px;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  background-color: #abcbd2; }
.gallery__extended .gallery__thumb {
  float: left;
  max-width: 50%;
  margin-right: 10px;
  margin-bottom: 10px; }

.gallery__title {
  padding: 0 .5rem; }
  .gallery__extended .gallery__title {
    padding: 0;
    text-transform: none;
    font-weight: 100;
    padding-right: 5.4rem; }

.gallery__extended {
  background-color: white;
  border: solid 2px #508894;
  display: none;
  left: .5rem;
  max-height: 80%;
  max-width: 600px;
  overflow: auto;
  padding: .5rem;
  position: fixed;
  right: auto;
  top: 2rem;
  width: 90%;
  width: calc(100% - 1rem);
  z-index: 2; }
  @media screen and (min-width: 600px) {
    .gallery__extended {
      width: 600px;
      left: 50%;
      margin-left: -300px; } }
  .gallery__extended:target {
    display: block; }
    .gallery__extended:target + .gallery__bg {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: -1; }

.gallery__close {
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none; }
  .gallery__close span {
    font-size: 1.5rem; }

.virtual-rooms {
  background-color: #604B50;
  padding: 1rem 0 1.5rem;
  margin: 2rem auto -2rem; }
  .virtual-rooms a {
    color: white; }

.virtual-rooms__title {
  margin-top: 0;
  font-weight: 100;
  color: white; }

.virtual-rooms__list {
  list-style: none; }

@media screen and (min-width: 550px) {
  .flexbox .virtual-rooms__list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }
    .flexbox .virtual-rooms__list li {
      -webkit-flex: 50%;
      flex: 50%; } }

/*
This file is used to contain all vendor imports.
*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
