
%btn,
.btn {
  background-color: $c-primario;
  border-radius: 4px;
  border: solid 2px $c-primario;
  color: white;
  display: inline-block;
  padding: .7rem 1.2rem;
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($c-primario, 15%);
    border-color: darken($c-primario, 15%);
    text-decoration: none;
  }

  &:active {
    background-color: lighten($c-primario, 5%);
    border-color: lighten($c-primario, 5%);
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

%btn--outline,
.btn--outline {
  background-color: white;
  color: $c-primario;

  &:hover,
  &:focus {
    background-color: white;
    border-color: $c-border-color;
    color: $c-grigio-chiaro;
  }

  &:active {
    background-color: white;
    border-color: $c-grigio-scuro;
    color: $c-grigio-scuro;
  }
}

%btn--big,
.btn--big {
  padding: 1rem 1.5rem .8rem;
  font-size: 1.2rem;
}

%btn--small,
.btn--small {
  padding: .3rem .6rem .2rem;
  font-size: .8rem;
  line-height: 1.2rem;
}

%btn--gray,
.btn--gray {
  background-color: $c-grigio-chiaro;
  border-color: $c-border-color;
  color: $c-grigio;

  &:hover,
  &:focus {
    color: white;
  }
}

// .btn--white {
//  background-color: white;
//  border-color: $c-medium-grey;
//  color: $c-medium-grey;
// }
