.no-flex,
.no-js {

  .grid-3,
  .grid-4 {
    width: 100%;
    overflow: hidden;
  }

  .col {
    padding: .5rem;
    width: 50%;
    float: left;
  }

  .no-gutter > .col {
    padding: 0;
  }

  .grid-3 > .col {
    width: 50%;

    @media screen and (min-width: $v-mobile-landscape) {
      width: 33.33%;

      &.colspan-2 {
        width: 66.66%;
      }
    }
  }

  .grid-4 > .col {
    width: 50%;

    @media screen and (min-width: $v-mobile-landscape) {
      width: 25%;

      &.colspan-2 {
        width: 50%;
      }
    }
  }
}

.flexbox {
  .grid-3,
  .grid-4 {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: -ms-flex-start;
    align-items: -webkit-flex-start;
    align-items: flex-start;
  }

  .col {
    padding: .5rem;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }

  .no-gutter > .col {
    padding: 0;
  }
     
  .grid-3 > .col {
    -ms-flex: 50%;
    -webkit-flex: 50%;
    flex: 50%;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    @media screen and (min-width: $v-mobile-landscape) {
      -ms-flex: 33.33%;
      -webkit-flex: 33.33%;
      flex: 33.33%;

      &.colspan-2 {
        -ms-flex: 66.66%;
        -webkit-flex: 66.66%;
        flex: 66.66%;
      }
    }
  }

  .grid-4 > .col {
    -ms-flex: 50%;
    -webkit-flex: 50%;
    flex: 50%;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    @media screen and (min-width: $v-mobile-landscape) {
      -ms-flex: 25%;
      -webkit-flex: 25%;
      flex: 25%;
      max-width: 25%;

      &.colspan-2 {
        -ms-flex: 50%;
        -webkit-flex: 50%;
        flex: 50%;
      }
    }
  }
}