// figure
figure {
  display: inline-block;
  margin: 1rem 0;

  img {
    display: block;
  }

  @media screen and (min-width: $v-mobile) {
    margin: 2rem 0;
  }

  // when it's under a link
  a > & {
    position: relative;
    &:hover:before {
      content: "🔍";
      position: absolute;
      top: .5rem;
      left: .5rem;
      font-size: 2rem;
    }
  }
}

figcaption {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: $c-gray;

  &:before {
    content: "📷";
    margin-right: 0.4rem;
  }
}

// gallery thumb
.image-thumb {
  display: block;
  margin: 0;
  width: 15rem;
  height: 15rem;
  border: solid 1px $c-gray;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -50%;
    display: block;
  }
}