// figure and figcaption
figure {
  display: inline-block;
  margin: 1rem 0;

  img {
    display: block;
  }

  @media screen and (min-width: $v-mobile) {
    margin: 2rem 0;
  }
}

  // when it's under a link
.figure-zoom > figure {
  position: relative;

  &:hover:before,
  &:focus:before {
    content: "Espandi";
    position: absolute;
    top: .5rem;
    left: .5rem;
  }
}

.no-emoji,
.no-js {
  .figure-zoom > figure:hover:before,
  .figure-zoom > figure:focus:before {
    content: "Zoom";
    font-size: 0.8rem;
    padding: 0.3rem;
    background-color: $c-bianco;
  }
}

.emoji {
  .figure-zoom > figure:hover:before,
  .figure-zoom > figure:focus:before {
    font-size: 2rem;
    content: "🔍";
  }
}

figcaption {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: $grigio-light-3;

  &:before {
    margin-right: 0.4rem;
    content: "[nella foto]"
  }

  .emoji &:before {
    content: "📷";
  }
}
