ul,
ol {
  padding-left: 1rem;
}

li {
  margin-bottom: .5rem;
}

.list-feed {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 2rem;

    @media screen and (min-width: $v-mobile) {
      margin-bottom: 2.5rem;
    }

    @media screen and (min-width: $v-mobile-landscape) {
      margin-bottom: 3rem;
    }
  }
}