ul,
ol {
  padding-left: 1rem;
}

li {
  margin-bottom: .5rem;
}

.list-feed {
  list-style: none;
  padding-left: 0;

  li {
    border-bottom: solid 1px $c-border-color;
    margin-bottom: 0;
  }
}

.list-feed a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $c-grigio-chiaro;
  }
}

.list-tags {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1.5rem;

  li {
    display: inline-block;
    margin-right: 5px;
  }

  a {
    @extend %btn;
  }
}