ul,
ol {
  padding-left: 1rem;
}

li {
  margin-bottom: .5rem;
}

.list-feed {
  list-style: none;
  padding-left: 0;

  li {
    border-bottom: solid 1px $c-border-color;
    margin-bottom: 0;
  }
}

.list-feed__link {
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $c-grigio-chiaro;
  }
}