.main {
	position: relative;
	padding-bottom: 2rem;

	.no-cssremunit & {
		padding-bottom: 32px;
	}
}

.main__title {
	color: $c-primario;

	.main__subtitle + & {
		margin-top: 1rem;

		.no-cssremunit & {
			margin-top: 16px;
		}
	}
}

.main__subtitle {
	background-color: $c-primario-chiarissimo;
	color: white;
	padding: .5rem;
	margin-top: 2rem;
	font-size: 160%;
	font-weight: normal;
	text-transform: none;
	margin: 24px 0 16px;
}

.main__index {
	margin-bottom: ($spacing-unit * 1);
	margin-top: ($spacing-unit * 1);
}

.main-thumb {
	margin-bottom: 10px;
	
	@media screen and (min-width: $v-mobile-landscape) {
		float: right;
		max-width: 50%;
		margin-left: 10px;
	}
}