.main {
	position: relative;
}

.main__title {
	color: $c-primario;

	.main__subtitle + & {
		margin-top: 1rem;
	}
}

.main__subtitle {
	background-color: $c-primario-chiarissimo;
	color: white;
	padding: .5rem;
	margin-top: 2rem;
}

.main__index {
	margin-bottom: ($spacing-unit * 1);
	margin-top: ($spacing-unit * 1);
}