.virtual-rooms {
  background-color: $grigio-light-2;
  padding: 1rem 0 1.5rem;
  margin: 2rem auto -2rem;

  a {
    color: white;
  }
}

.virtual-rooms__title {
  margin-top: 0;
  font-weight: 100;
  color: white;
}

.virtual-rooms__list {
  list-style: none;
}

.flexbox .virtual-rooms__list {

  @media screen and (min-width: $v-mobile-landscape) {
    display: flex;
    flex-flow: row wrap;

    li {
      flex: 50%;
    }
  }
}