.virtual-rooms {
  background-color: $grigio-light-2;
  padding: 1rem 0 1.5rem;
  margin: 2rem auto -2rem;

  a {
    color: white;
  }

  .no-cssremunit & {
    padding: 16px 0 24px;
    margin: 32px auto -32px;
  }
}

.virtual-rooms__title {
  margin-top: 0;
  font-weight: 100;
  color: white;
}

.virtual-rooms__list {
  list-style: none;
}

.no-flexbox,
.no-js {

  .virtual-rooms__list {
    @extend %clearfix;

    @media screen and (min-width: $v-mobile-landscape) {

      li {
        width: 50%;
        float: left;
      }
    }
  }
}

.flexbox .virtual-rooms__list {

  @media screen and (min-width: $v-mobile-landscape) {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    li {
      -ms-flex: 50%;
      -webkit-flex: 50%;
      flex: 50%;
    }
  }
}