.welcome {
	@media screen and (min-width: $v-mobile-landscape) {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		align-items: -webkit-flex-start;
		align-items: flex-start;
	}
}
.welcome__title {
	font-size: 150%;
	text-transform: none;
	font-weight: 900;
}

.welcome__abstract {

	@media screen and (min-width: $v-mobile-landscape) {
		-webkit-flex: 1 60%;
		flex: 1 60%;
	}
}

.welcome__mainimg {
	margin: $spacing-unit 0;

	@media screen and (min-width: $v-mobile-landscape) {
		-webkit-flex: 2 40%;
		flex: 2 40%;
		margin-top: 0;
		padding-left: 1rem;
	}
}