* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// HTML5 new elements declaration
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { 
	display: block;
}

// table needs special attention
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}