$max-width:               1080px;
$spacing-unit:            1.875rem;

// Responsive viewports
$v-mobile:                320px;
$v-mobile-landscape:      550px;
$v-tablet:                768px;
$v-desktop:               960px;

// Colors
// Base color
$bianco:                  #efefef;
$ottanio:                 #508894;
$grigio:                  #604B50;

// Ottanio variants
$ottanio-light-1:         $ottanio;
$ottanio-light-2:         #7aacb7;
$ottanio-light-3:         #abcbd2;
$ottanio-light-4:         #ddeaed;

// Grigio variants
$grigio-light-1:          #23050B;
$grigio-light-2:          $grigio;
$grigio-light-3:          #978B8E;
$grigio-light-4:          #D8D5D6;

// Utility colors
$c-border-color:          $grigio-light-3;

$c-bianco:                $bianco;

$c-grigio-chiaro:         $grigio-light-4;
$c-grigio:                $grigio-light-3;
$c-grigio-scuro:          $grigio-light-2;
$c-nero:                  $grigio-light-1;

$c-primario:              $ottanio-light-1;
$c-primario-chiaro:       $ottanio-light-2;
$c-primario-chiarissimo:  $ottanio-light-3;
$c-primario-superchiaro:  $ottanio-light-4;

// Typography related
$text-color:              $c-nero;
$base-font-family:        'Roboto', sans-serif;

$base-line-height:        1.5;
$base-font-size:          16px;
$small-font-size:         $base-font-size * 0.875;

$base-font-weight:        400;
$strong-font-weight:      900;

